<% provide(:title, 'Gallery') %>
<div class="center hero-unit">
  <h1>Gallery</h1>

  <h2>
    How do we look?
  </h2>
  
  <div class="row">
		<%= link_to image_tag("lion.jpg", alt: "Rails", size: "200x100")%>
		Taken by Zinbo 2 days ago  
  </div>
  <div class="row">
		<%= link_to image_tag("lion.jpg", alt: "Rails", size: "200x100")%>
		Taken by SHANEO 2 days ago  
  </div>
  <div class="row">
		<%= link_to image_tag("lion.jpg", alt: "Rails", size: "200x100")%>
		Taken by Xrathe 2 days ago
  </div>
</div>