<div class="center hero-unit">
  <h1>Welcome to Electric Justice</h1>

  <h2>
    This is the home page for the Electric Justice Silvermoon EU guild
  </h2>
  
  <div class="row">
		<div class="span5">
  		<h4>Want to apply to join the guild?</h4>
  			<%= link_to "Click here!", '#', class: "btn btn-large btn-primary" %>
		</div>

        <div class="span5">
        <h4>Already a guild member?</h4>
  			<%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
		</div>
  </div>
</div>

