<div class="center hero-unit">
  <h1>Welcome to Electric Justice</h1>

  <h2>
    This is the home page for the Electric Justice Silvermoon EU guild
  </h2>
  
  <div class="row">
  	        <h4>Are you a guild member but don't yet have an account with our webiste?</h4>

  			<%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
  </div>
</div>

