<% provide(:title, 'Raid Progression') %>
<div class="center hero-unit">
  <h1>Raid Progression</h1>

  <h2>
    How are we doing?
  </h2>
  
  <div class="row">
		<h3>MOGU-SHAN VAULTS</h3>
		<%= "#{@mogu_shan_progression}/#{@no_of_mogu_shan_bosses}" %>  
  </div>
  <div class="row">
		<h3>HEART OF FEAR</h3>
		<%= "#{@heart_of_fear_progression}/#{@no_of_heart_of_fear_bosses}" %>
  </div>
  <div class="row">
		<h3>TERRACE OF ENDLESS SPRINGS</h3>  
  		<%= "#{@toes_progression}/#{@no_of_toes_bosses}" %>		
  </div>
  <div class="row">
		<h3>TUNDA KING</h3> 
		<%= "#{@thunder_king_progression}/#{@no_of_thunder_king_bosses}" %>		
  </div>
</div>