<% provide(:title, 'Raid Progression') %>
<div class="center hero-unit">
  <h1>Raid Progression</h1>

  <h2>
    How are we doing?
  </h2>
  
  <div class="row">
		<h3>THUNDA KING</h3>  
  </div>
  <div class="row">
		<h3>HEART OF FEAR</h3>  
  </div>
  <div class="row">
		<h3>MOGU-SHAN VAULTS</h3>  
  </div>
</div>