<% provide(:title, 'Voice Server Details') %>
<div class="center hero-unit">
  <h1>Voice Server Details</h1>

  <h2>
    How to connect
  </h2>
  
  <div class="row">
		<u>Address</u>: electricjustice.voip01.com
  </div>
	<div class="row">
		<u>Password</u>: ...
	</div>
</div>